//header
.blog___header{
    display:flex;
    min-height:350px;
    background-repeat: none;
    background-position: center;
    background-size:cover;
    hgroup{
        margin:auto;
        color:white;
    }
}