.footer___social-media {
		clear: both;
		background: black;
		padding: 50px 0;
		.wrapper {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		}
		ul {
			margin: auto;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			list-style: none;
			li {
				text-transform: uppercase;
				padding: 0 50px;
				position: relative;
				a {
					display: block;
					@include fontStyle($montserrat, 0.5rem, 700, white, 3px);
				}
				&:last-child:after {
					display: none;
				}
				&:after {
					content: '';
					position: absolute;
					height: 1.5rem;
					background: grey;
					width: 1px;
					top: 25%;
					transform: translateY(-25%);
					right: 0%;
				}
			}
		}
}
.copyright {
	padding: 20px 0;
	background: #222;
	@include fontStyle(montserrat, 0.3rem, 700, $grey, 3px);
	text-transform: uppercase;
	.wrapper{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
	}
	a {
		color: inherit;
		margin-left: auto;
	}
}
