.hero {
	text-align: center;
	text-transform: uppercase;
	height: 100vh;
	min-height: 600px;
	background-size: cover;
	background-position: center;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	h1 {
		@include fontStyle($montserrat, 4.5rem, 700, white, 15px);
	}
	h2 {
		@include fontStyle($font, 1.2rem, 400, white, 10px);
	}
	.btn___header {
		display: block;
		width: 200px;
		margin: 5% auto;
		background: white;
		padding: 12px 0;
		transition: 0.3s all ease;
		@include fontStyle($montserrat, 0.8rem, 400, black, 3px);
		&:hover {
			opacity: 0.7;
		}
	}
	img {
		max-width: 200px;
	}
	.hero-content {
		margin: auto;
	}
}
