.about {
	padding:100px 0;
	h1,h2 {
		text-align: center;
		text-transform:uppercase;
	}
	h1{
		font-size:1.8rem;
	}
	h2 {
		margin:15px 0;
		@include fontStyle($montserrat, 1rem, 700, $darkgrey, 2px);

	}
}

.about___icons {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
	.about___icons---box {
		max-width: 325px;
		flex: 1 1 auto;
		text-align: center;
		padding:20px;
		h3 {
			@include fontStyle($montserrat, 1rem, 700, $darkgrey, 1px);
			margin-bottom:15px;
			text-transform:uppercase;
		}
		p {
			@include fontStyle(sans-serif, 1rem, 400, $grey, 1px);
			line-height:1.4rem;
		}
		img {
			display: block;
			max-width: 150px;
			margin: 0 auto;
		}
	}
}

//project section
.projects{
	.project-wrapper{
		display:flex;
		justify-content: center;
	}
	.figure-container-1,.figure-container-2,.figure-container-3{
		flex:1 1 33%;
		flex-direction:column;
		figure {
			background-position: center;
			background-size: cover;
			margin: 10px 5px;
			position: relative;
			transition:1s all ease;
			&:hover .project-text{
				transition:1s all ease;
				bottom:0;
				opacity:1;
				display:block;
				height:100%;
			}
		}
	}
	.figure1 {
			height: 250px;
		}
	.figure2:first-of-type {
			height: 300px;
		}
	.figure2:last-of-type {
			height: 460px;
	}
	.figure3:first-of-type {
			height: 460px;
		}
	.figure3:last-of-type {
			height: 300px;
	}
	.project-text {
		position:absolute;
		overflow:hidden;
		// opacity: 0;
		bottom: 0;
		height:0;
		width: 100%;
		background: rgba(255,255,255,0.8);
		transition:1s all ease;
	}
}
