.about {
	padding:100px 0;
	h1,h2 {
		text-align: center;
		text-transform:uppercase;
	}
	h1{
		font-size:1.8rem;
	}
	h2 {
		margin:15px 0;
		@include fontStyle(1rem,600,$darkgrey,2px);
		
	}
}

.about___icons {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
	.about___icons---box {
		max-width: 325px;
		flex: 1 1 auto;
		text-align: center;
		padding:20px;
		h3 {
			@include fontStyle(1rem, 600, $darkgrey, 1px);
			margin-bottom:15px;
			text-transform:uppercase;
		}
		p {
			@include fontStyle(1rem, 300, $grey, 1px);
			line-height:1.4rem;
		}
		img {
			display: block;
			max-width: 150px;
			margin: 0 auto;
		}
	}
}
