ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 5vw;
	}
}

nav {
	z-index: 10;
	height: 50px;
	width: 100%;
	position: fixed;
	transition: 0.5s all ease;
	background: transparent;
	.wrapper {
			height: 50px;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-transform: uppercase;
			a {
				@include fontStyle($montserrat, 0.8rem, 400, $lightgrey, 3px);
				transition: 0.3s all ease;
				&:hover {
					color: darken($lightgrey, 20%);
				}
			}
	}
	img {
		max-height: 50px;
	}
}
#hamburger{
	margin-right:2%;
}

#hamburger,#close{
	display:none;
	font-size:1.5rem;
	color:white;
	cursor:pointer;
}
#close{
	position:absolute;
	right:2%;
	top:5%;
}

@media all and (max-width: 767px){
	nav{
		.wrapper{
			width:100%;
		}
	}
	#hamburger,#close{
		display:block;
		z-index:100;
	}
	#close{
		display:none;
	}
	#menu-top-nav {
		display:none;
		position:absolute;
		width:100%;
		top:0;
		background:rgba(0,0,0,0.9);
		li {
			display: block;
			text-align:center;
			margin:0;
			a{
				margin:0 auto;
				width:150px;
				font-size:1.4rem;
				display:block;
				padding:15px;
			}
		}
	}

}
