.sidebar {
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}
input[type=search],input[type=submit]{
	border-radius:3px;
	border: 0;
}
input[type=search] {
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	width: 200px;
	padding: 5px;
	height: 35px;
	@include fontStyle($font, 0.8rem, 400, $darkgrey, 1px);
}

input[type=submit] {
	width: 100px;
	text-transform: uppercase;
	background: black;
	border: 0;
	height: 45px;
	@include fontStyle($font, 0.9rem, 400, white, 2px);
}
