.sidebar {
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}
input[type=search],input[type=submit]{
	border: 0;
}
input[type=search] {
	width: 200px;
	padding: 5px;
	height: 30px;
	@include fontStyle($font, 0.8rem, 400, $darkgrey, 1px);
}

input[type=submit] {
	width: 100px;
	text-transform: uppercase;
	background: black;
	height: 40px;
	@include fontStyle($font, 0.9rem, 400, white, 2px);
	&:hover {
	    cursor: pointer;
	    cursor: hand;
	    background: darken($grey, 20);
	}
}
