body {
  background: $lightgrey;
}

.entry-title{
    @include fontStyle($montserrat, 2.5rem, 700, black, 2px);
}

.entry-meta{
    margin: 10px 0;
    @include fontStyle($font, 0.8rem, 400, $grey, 2px);
}

.entry-content {
  margin-top: 20px;
}

.blog-content{
    margin-top: 20px;
}

.single .content {
  padding: 3%;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  margin-bottom: 5%;
}

h3 {
  @include fontStyle($montserrat, 1rem, 700, black, 3px);
  text-transform: uppercase;
  margin: 20px 0;
}
